<%title "Empresa" %>
<%content_for :head do%>
<%= stylesheet_link_tag "internal.css" %>
<%end%>
<div id='int-esquerda'>
	<h1>Empresa</h1>
	<p>Priorizando sempre a pluralidade para oferecer produtos variados, com qualidade e valores acessíveis, a Top Beauty trabalha com mais de 50 linhas diferentes, que vão desde o cuidado com as mãos (esmaltes, removedores, amolecedores de cutículas, bases e cremes para mãos e até mesmo pés) e se estendem aos itens de maquiagem e cuidados com os cabelos (brilhos labiais e reparadores de pontas).</p>
	<p>Para garantir a qualidade do produto que chega às prateleiras em todo o País, a Top Beauty, atuante no segmento desde 2004, possui um moderno processo de fabricação, com equipamentos automatizados e um rigoroso controle de qualidade.</p>
	<p>Procurando trabalhar para atender cada vez melhor seu público, a Top Beauty tem investido em parcerias sólidas, objetivando garantir ainda mais qualidade e variedade às suas linhas.</p>
	<p>Na Top Beauty não são fabricados apenas produtos que realcem a beleza das mulheres brasileiras. Lá também são produzidas sensações, inspirações, felicidade e bem-estar.</p>
	<p>O trabalho desempenhado por toda a equipe vai além da busca pela beleza estética, ele busca oferecer destaque e conforto espiritual, pois acreditamos que toda a mulher possui beleza e sensualidade das quais deve sempre se orgulhar.</p>
	<p>Percebemos que muitas vezes a rotina não permite que as mulheres encontrem sua confiança e sensualidade. Nossa tarefa é tornar essa busca uma realidade. Desejamos valorizar e realçar a confiança, charme, delicadeza e sensualidade de nossas mulheres. E fazemos isso oferecendo qualidade, modernidade, sofisticação e beleza.</p>
	<h1>Missão</h1>
	<p>Valorizar a beleza das mulheres oferecendo produtos de qualidade, elaborados com a mais alta tecnologia para garantir segurança e satisfação total de nossas clientes.</p>
	<h1>Visão</h1>
	<p>Estimular cada vez mais a valorização da beleza não apenas com o ponto de vista estético, mas ressaltando a beleza como uma preocupação com a saúde. Fazer da preocupação com a beleza um exercício diário da autoconfiança e autovalorização.</p>
	<h1>Valores</h1>
	<p>Transparência<br />
	Comprometimento<br />
	Profissionalismo<br />
	Humanidade<br />
	Respeito<br />
	Ética</p>
</div>