<%title "Politica de Privacidade" %>
<%content_for :head do%>
<%= stylesheet_link_tag "internal.css" %>
<%end%>
<div id='interna'>
	<div id='int-esquerda'>
		<h1>Política de Privacidade</h1>
		<p>Estamos comprometidos em garantir a privacidade dos visitantes não coletando assim informações pertinentes aos usuários, a menos que os mesmos as forneçam à NATURAL LIFE COSMÉTICOS LTDA. ME, voluntariamente ou com conhecimento próprio.</p>
		<p>Em certas partes do site podemos solicitar a você que participe por meio de suas páginas pessoas em redes sociais. Você não está sob qualquer obrigação de fornecer estas informações, porém sem as mesmas não poderemos garantir total usufruto das áreas e recursos disponíveis.</p>
		<p>A NATURAL LIFE COSMÉTICOS LTDA. ME pode fazer uso de cookies de tempos em tempos. Os cookies são pequenos arquivos de texto que Hotsites ou Websites podem utilizar para reconhecer um visitante constante. Os cookies permitem que ofereçamos a você uma melhor experiência de navegação, já que com eles somos capazes de compreender quais as áreas do site que despertam o interesse de nossos membros. Tais cookies não armazenam dados pessoais. Caso você não queira que a NATURAL LIFE COSMÉTICOS LTDA.</p>
		<p>ME utilize cookies em seu browser, programe-o (seu browser) para rejeitar cookies ou para notificar você todas as vezes que um site tentar utilizar cookies com seu software de navegação.</p>
		<p>Neste site pode haver um ou mais links de redirecionamento para outros sites. Clicando em um link desconhecido e acessando outro site, seja de produtos ou serviços, você estará sujeito às políticas de privacidade do mesmo.</p>
	</div>
</div>