<%title "Termos de Uso" %>
<%content_for :head do%>
<%= stylesheet_link_tag "internal.css" %>
<%end%>
<div id='int-esquerda'>
	<h1>Termos de uso</h1>
	<p>Este site é operado pela NATURAL LIFE COSMÉTICOS LTDA. ME.
	Quando você utiliza este site, você concorda quanto aos termos e condições que seguem. Se você não concordar com estes termos e condições, você deve imediatamente encerrar a participação neste site.</p>
	<p>O uso das informações, tais como imagens, textos exclusivos, entre outros conteúdos, é terminantemente proibido e, havendo transgressão desta regra, o responsável poderá responder judicialmente.</p>
	<p>Propaganda não autorizada e comentários abusivos ou desrespeitosos com relação à NATURAL LIFE COSMÉTICOS LTDA. ME ou quaisquer outros personagens ou parceiros da empresa anteriormente mencionada poderão ser apagados, sem nenhuma necessidade e aviso prévio por parte da equipe de moderação do site.</p>
	<p>O conteúdo de cada comentário é de única e exclusiva responsabilidade do autor, não refletindo a opinião dos responsáveis por este site.</p>
</div>