<html>
<head>
<title>INSTRUÇÕES PARA TROCAR A SENHA</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<b>Instruções para trocar a senha a senha<br /></b>
	<b>Nome:  </b><%= @user.name %><br />
	<b>E-mail: </b><%= @user.email %><br />
	<b>Para trocar a senha Link: </b><%= link_to "clique aqui", edit_password_reset_url(@user.perishable_token) %>.<br />
	<br />
	<br />
	<b>Atenção!</b><br />
	O link vai expirar em 3 horas(<%= I18n.localize(@user.updated_at, :format => "%m de %B  de  %Y - %H:%M")%>)
</body>
</html>