#base_formulario{
	background-image:url('../images/bg_fancybox.png');
	background-position:center top;
	background-repeat:no-repeat;
	
	}

#form_esquerda{
	float:left;
	margin-top:15px;
	margin-left:0px;
	border-right:1px solid #b99aae;
	height:530px;
	
	}

#form_direita{
	float:right;
	margin-top:15px;
	margin-right:0px;
	}

#form_direita img{
	margin-bottom:5px;
	}

.input{
	background-image:url('../images/bg_input.png');
	background-position:center top;
	background-repeat:no-repeat;
	width:447px;
	height:41px;
	border:1px solid transparent;
	margin-bottom:5px;
	padding-left:10px;
	font-family: 'Radley';
	color:#808080;
	font-weight:normal;
	font-size:20px;
	}
.Align_tit
{
	margin-left:3px !important;
}

#form_direita textarea{
	background-image:url('../images/bg_txtfield.png');
	background-position:center top;
	background-repeat:no-repeat;
	width:448px;
	height:165px;
	border:1px solid transparent;
	margin-bottom:10px;
	resize:none;
	padding-left:10px;
	padding-top:10px;
	}

.botao{
	background-image:url('../images/bt_enviar.png');
	background-position:center top;
	background-repeat:no-repeat;
	background-color:transparent !important;
	width:101px;
	height:37px;
	border:1px solid transparent;
	margin-bottom:10px;
	color:transparent !important;
	cursor:pointer;
	float:right;
	}

/* --------------Mensagens de erro CSS------------*/
 input.error
{
	font-family: 'Radley';
	color:red;
	font-weight:normal;
	font-size:20px;	
}
.error
{
	font-family: 'Radley';
	color:red;
	font-weight:normal;
	font-size:18px;	
}
#form_show_msg
{
	font-family: 'Radley';
	color:#808080;
	font-weight:normal;
	font-size:20px;
	text-align:center;	
}
}
