#base_formulario{
	background-image:url('../images/bg_fancybox.png');
	background-position:center top;
	background-repeat:no-repeat;
	
	}

#form_esquerda{
	float:left;
	margin-top:15px;
	margin-left:0px;
	border-right:1px solid #b99aae;
	height:530px;
	
	}

#form_direita{
	float:right;
	margin-top:15px;
	margin-right:0px;
	}

#form_direita img{
	margin-bottom:5px;
	}

.input{
	background-image:url('../images/bg_input.png');
	background-position:center top;
	background-repeat:no-repeat;
	width:457px;
	height:41px;
	border:1px solid transparent;
	margin-bottom:5px;
	}

#form_direita textarea{
	background-image:url('../images/bg_txtfield.png');
	background-position:center top;
	background-repeat:no-repeat;
	width:458px;
	height:175px;
	border:1px solid transparent;
	margin-bottom:10px;
	resize:none;
	}

.botao{
	background-image:url('../images/bt_enviar.png');
	background-position:center top;
	background-repeat:no-repeat;
	background-color:transparent !important;
	width:101px;
	height:37px;
	border:1px solid transparent;
	margin-bottom:10px;
	color:transparent !important;
	cursor:pointer;
	float:right;
	}
	
#form_show_msg
{
	position:relative;
	left:172px;
	top:41px;
	font-family: 'Radley';
	color:#808080;
	font-weight:normal;
	font-size:18px;
	margin-bottom:20px;
}
.error
{
	font-family: 'Radley';
	color:red;
	font-weight:normal;
	font-size:18px;
}