
#header{
	position:absolute;
	width:960px;
    	left:50%;
	top:0px;
    	margin-left:-480px;
	margin-top:-10px !important;
	z-index:3000;
	}
#article{
	background-image:url('../images/bg_internas.jpg') !important;
	background-position:center top;
	position:relative;	
	top:-16px !important;
	}

#interna{
	position:relative;
	width:970px;
	margin:0 auto;
	top:300px;
	}

#int-esquerda{
	width:620px;
	float:left;
	text-align:left;
	margin-top:0px;
	}

#int-direita{
	width:319px;
	float:right;
	margin-top:0px;
	text-align:left;
	}

#int-dica{
	
	}
	
#int-dica img{
	margin-bottom:5px;
	}
	
#int-vsh{
	margin-top:20px;
	}
	
#int-vsh img{
	margin-bottom:5px;
	}

#int-esquerda h1{
	font-family: 'AkkoRoundedStd-Light';
	color:#9f5284;
	font-size:25px;
	margin-bottom:20px;
	}

#int-esquerda h2{
	font-family: Arial, Helvetica, sans-serif;
	color:#808080;
	font-size:12px;
	margin-bottom:20px;
	margin-top:-20px;
	}

#int-esquerda p{
	font-family: 'Radley';
	color:#808080;
	font-weight:normal;
	font-size:15px;
	margin-bottom:20px;
	}
	
.vermaisnoticias{
	float:right;
	}

#dica_dia{
	background-image:url('../images/img_dica_int.png');
	background-repeat:no-repeat;
	width:319px;
	height:302px;
	text-align:center;
	font-family: 'Radley';
	color:#2b0b19;
	font-weight:normal;
	font-size:15px;
	padding-top:15px;
	}

#vai_sair_top{
	background-image:url('../images/bg_sair_hoje_top.png');
	background-repeat:no-repeat;
	width:319px;
	height:173px;
	padding-top:15px;
	}

#vai_sair_top h3{
	font-family: 'Radley';
	color:#9c678a;
	font-weight:normal;
	font-size:20px;
	width:120px;
	margin-left:15px;
	}

#vai_sair_top h3 b{
	font-family: 'Radley';
	color:#721736;
	font-weight:normal;
	font-size:25px;
	}

#vai_sair_footer{
	background-image:url('../images/bg_sair_hoje_footer.png');
	background-repeat:no-repeat;
	width:289px;
	height:68px;
	margin-top:10px;
	text-align:center;
	padding:15px;
	}

#vai_sair_footer h3{
	font-family: 'Radley';
	color:#60404e;
	font-weight:normal;
	font-size:15px;
	}
#footer
{
	margin-top:315px;
}
.clear
{
 clear:both
	}

.politica{
	margin-top:-300px !important;
	}