body{
	background-image:url('../images/bg_interna_noticias.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	background-color:#FFFFFF !important;
	text-align:center;
	}

#article-noticias{
	width:100%;
	position:absolute;
	top:0px !important;
	}

#body_footer{
	width:970px;
	margin:0 auto;
	margin-top:350px;
	}

#body_footer img{
	float:left;
	margin-top:0px  !important;
	}

#body_footer a{
	text-decoration:none;
	float:left;
	}

.noticia{
	background-image:url('../images/bg_noticias.png');
	background-position:center top;
	background-repeat:no-repeat;
	width:319px;
	height:315px;
	float:left;
	margin-right:4px;
	text-align:left; 
	position:relative;
	}

.noticia div{
	margin-left:8px;
	margin-top:5px;
	width:304px;
	height:169px;
	}
.noticia div img{margin-top:0px !important; position:relative; left:0px;}
.noticia:hover div{
	}
.noticia h1{
	font-family: 'Radley';
	color:#808080;
	font-weight:normal;
	font-size:20px;
	margin-top:10px;
	margin-left:20px;
	}

.noticia p{
	font-family:Arial, Helvetica, sans-serif;
	color:#d355a8;
	font-weight:normal;
	font-size:12px;
	margin-top:20px;
	margin-left:20px;
	}
	
.noticia:hover{
	background-image:url('../images/bg_noticias_hover.png');
	}

.noticia:hover h1{
	color:#d355a8;
	}

.noticia:hover p{
	color:#808080;
	}



.footer_noticias{
	position:absolute;
	width:318px;
	height:28px;
	top:275px;
	left:0px;
	}