#int-produto{
	margin-top:240px;
	text-align:left;
	width:970px;
	float:right;
	}

#int-produto h1{
	font-family: 'AkkoRoundedStd-Light';
	color:#9f5284;
	font-size:25px;
	margin-bottom:5px;
	margin-left:200px;
	}

#int-produto p{
	font-family: 'Radley';
	color:#808080;
	font-size:15px;
	margin-bottom:10px;
	margin-left:200px;
	}

#footer{
	top:2650px;
	}
