<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/stylesheets/resultado_assistente.css" type="text/css" rel="stylesheet" />
</head>

<body>
<table width="500" border="0" cellspacing="3" cellpadding="0">
  <tr>
    <td colspan="7"><h1><%=@titulo%></h1></td>
  </tr>
  <tr>
    <td colspan="7"><h2><%=@chamada%></h2></td>
  </tr>
  <tr>
    <td colspan="7"><p><%=@texto%></p></td>
  </tr>
  
<%if @isTimida%>
<tr>
    <td width="73">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="73" bgcolor="#d2d3d2"><h4>&nbsp;linha:</h4></td>
    <td width="116" height="32" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#FFFFFF"><h5>&nbsp;nome:</h5></td>
    <td width="116" height="53" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
  </tr>
<%elsif @isExtrovertida%>
<tr>
    <td width="73">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="73" bgcolor="#d2d3d2"><h4>&nbsp;linha:</h4></td>
    <td width="116" height="32" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#FFFFFF"><h5>&nbsp;nome:</h5></td>
    <td width="116" height="53" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
  </tr>

<%elsif @isRomantica%>
<tr>
    <td width="73">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="73" bgcolor="#d2d3d2"><h4>&nbsp;linha:</h4></td>
    <td width="116" height="32" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#FFFFFF"><h5>&nbsp;nome:</h5></td>
    <td width="116" height="53" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
  </tr>
<%elsif @isOusada%>
<tr>
    <td width="73">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="116" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td width="73" bgcolor="#d2d3d2"><h4>&nbsp;linha:</h4></td>
    <td width="116" height="32" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
    <td width="116" align="center" bgcolor="#d2d3d2"><h4>XXX</h4></td>
  </tr>
  <tr>
    <td width="73" bgcolor="#FFFFFF"><h5>&nbsp;nome:</h5></td>
    <td width="116" height="53" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
    <td width="116" align="center" bgcolor="#FFFFFF"><p>XXX</p></td>
  </tr>
<%end%>
  <tr>
    <td colspan="7" align="right"><h4>Conte para suas amigas</h4></td>
  </tr>
  <tr>
    <td colspan="7" align="right">
					<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="SeuTwitter" rel="nofollow">
						Tweet
					</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<iframe src="//www.facebook.com/plugins/like.php?href=http//www.topbeautycosmeticos.com.br&amp;send=false&amp;layout=button_count&amp;width=60&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=228638123874618" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe></td>
  </tr>
</table>

</body>
</html>
