<%title "Produtos" %>
<%content_for :head do%>
	<%= stylesheet_link_tag "produtos.css" %>
<%end%>
    <div id='article'>
    	<div id='interna'>
            <div id='int-produto'>
            	<h1>PRODUTOS</h1>
                <img src="images/linha_ondeencontrar.png" width="762" height="1" style="margin-bottom:20px; margin-left:200px;" />
                <p>A Top Beauty trabalha todos os dias para fornecer a você produtos com a mais alta tecnologia, qualidade e beleza.</p>
                <p>Divididos em diversas linhas, cada produto traz características únicas, que podem expressar e valorizar as mais variadas personalidades. Aqui, você com certeza encontrará produtos que traduzem seu estilo.</p>
                
		<%@lines.each do |l|%>
			<%if l.id == 3%>
				<%=link_to(image_tag(l.imgline.url("medium"), :style => "margin-bottom:20px; margin-top:20px;"), "http://www.segredosdeadriane.com.br", :target => "new")%>
			<%else%>
				<%=link_to(image_tag(l.imgline.url("medium"), :style => "margin-bottom:20px; margin-top:20px;"), produto_path(l))%>
			<%end%>
		<%end%>
		
            </div>
        </div>
    </div>
