<% title @product.name %>

<h1><%=@product.name%></h1><br />
<br />
<p>Verifique se as informações abaixo estão corretas.</p><br />
<br />

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<br />
<br />
<br />
<p><%= submit_tag "Voltar",:type=>"button",:onclick=>"window.open('"+admin_category_products_path(@category)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%></p>

