<% 
	content_for :title do "Editar Usuário" end
%>
<%content_for :head do%>
	<%=stylesheet_link_tag "cadastro"%>
	<%= stylesheet_link_tag "admin_user"%>
<%end%>
<div id="Content">
    <div id="Register_internal">
      <p>
		
      </p>
	  <%= render 'form' %>
	</div>
</div>