<%content_for :head do%>
	<%=stylesheet_link_tag "cadastro"%>
<%end%>
<% title "Cadastro" %>
<div id="Content">
    <div id="Register_internal">
      <h1>
      	CADASTRAR USÁRIO
      </h1>
      <p>
		
      </p>
	  <%= render 'form' %>
	</div>
</div>