<%content_for :head do%>
<%=javascript_include_tag  "fancybox/jquery.fancybox.js" %>
<script>
<script>
jQuery(document).ready(function() {

});
</script>
<%end%>
<div id='form_esquerda'>
	<img src="images/img_trabalhe_conosco.png" width="251" height="295" style="margin-right:20px; " /><br />
</div>
<div id='form_direita'>
	<form class="form-duvidas">
		<table width="460" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td><img src="images/lb_nome_completo.png" width="105" height="14" /></td>
		  </tr>
		  <tr>
			<td><input name="" type="text" class="input" /></td>
		  </tr>
		  <tr>
			<td><img src="images/lb_email.png" width="44" height="11" /></td>
		  </tr>
		  <tr>
			<td><input name="" type="text" class="input" /></td>
		  </tr>
		  <tr>
			<td><img src="images/lb_curriculum.png" width="108" height="11" /></td>
		  </tr>
		  <tr>
			<td><input name="" type="text" class="input" /></td>
		  </tr>
		  <tr>
			<td><img src="images/lb_telefone.png" width="60" height="11" /></td>
		  </tr>
		  <tr>
			<td><input name="" type="text" class="input" /></td>
		  </tr>
		  <tr>
			<td><img src="images/lb_mensagem.png" width="73" height="14" /></td>
		  </tr>
		  <tr>
			<td><textarea name="" cols="" rows=""></textarea></td>
		  </tr>
		  <tr>
			<td><input name="" type="button" class="botao" /></td>
		  </tr>
		</table>
	</form>
</div>