<%title "Onde Encontrar" %>
<%content_for :head do%>
	<%= stylesheet_link_tag "internal.css" %>
	<%= stylesheet_link_tag "onde_encontrar.css" %>
<%end%>
 <div id='int-esquerda'>
	<h1>ONDE ENCONTRAR?</h1>
	<p>Selecione abaixo sua cidade e estado para saber onde encontrar os produtos <b>Top Beauty</b>.</p>
	<%=form_tag resultados_onde_encontrar_index_path, :id => "form_onde_encontrar", :method => :post, :remote => :true%>
	<table width="600" border="0" cellspacing="0" cellpadding="0" id="form_local">
	        <tr>
	          <td width="91" valign="top"><h1>estado:</h1></td>
	          <td width="72" valign="top"><%= collection_select :pessoa, :estado, @Estados, :state, :state,{:include_blank => true, :size=>"10"} %></td>
	          <td width="97" valign="top">&nbsp;</td>
	          <td width="84" valign="top"><h1>cidade:</h1></td>
	          <td width="256" valign="top">
					<span id='repre_cidade' style="">

					</span>
				</td>
	        </tr>
	</table>
	</form>
	<img src="images/linha_ondeencontrar.png" width="635" height="2" style="margin:0 auto" />
	<div id="">

	</div>
	<div id="ContainerResultados">
	<!-- 	<div id="ond_um" class="onde">
			<h3>Anabelli Cosméticos</h3>
		    <p>Rua Henrique Lage, 115</p>
		    <p>Criciúma - SC</p>
		    <p>48.3437.1824</p>
		</div>
		<div id="ond_dois" class="onde">
			<h3>Anabelli Cosméticos</h3>
		    <p>Rua Henrique Lage, 115</p>
		    <p>Criciúma - SC</p>
		    <p>48.3437.1824</p>
		</div>
		<div id="ond_um" class="onde">
			<h3>Anabelli Cosméticos</h3>
		    <p>Rua Henrique Lage, 115</p>
		    <p>Criciúma - SC</p>
		    <p>48.3437.1824</p>
		</div>
		<div id="ond_dois" class="onde">
			<h3>Anabelli Cosméticos</h3>
		    <p>Rua Henrique Lage, 115</p>
		    <p>Criciúma - SC</p>
		    <p>48.3437.1824</p>
		</div> -->
	</div>

	</div>

	<script type="text/javascript">

	  $(function() { 
	    changeSelects("pessoa_estado", "repre_cidade"); 
	  });
	</script>
