<div id='int-direita'>
	<div id='int-dica'>
		<img src="images/tit_dica_int.png" width="270" height="27" /><br />
		<div id='dica_dia'>
			
			<!-- <img src="images/img_dica.png" width="223" height="248" />
			<p>Tenha a pura proteção da natureza no tratamento de suas unhas.</p> -->
		</div>
	</div>
	<div id='int-vsh'>
		<img src="images/tit_vsh_int.png" width="262" height="40" /><br />
		<div id="vai_sair_top">
			<h3>Conte com a ajuda de nossa <b>assistência</b> para fazer a escolha certa!</h3>
		</div>
		<div id="vai_sair_footer">
			<h3>A Top Beauty oferece tantas opções de esmalte que fica difícil saber qual cor usar primeiro.</h3>
		</div>
	</div>
</div>