<div id='int-direita'>
	<div id='int-dica'>
		<img src="images/tit_dica_int.png" width="270" height="27" /><br />
		<img src="images/img_dica_int.png" width="319" height="317" /><br />
		<img src="images/bg_redes__int.png" width="320" height="28" />
	</div>
	<div id='int-vsh'>
		<img src="images/tit_vsh_int.png" width="262" height="40" /><br />
		<img src="images/img_vsh_int.png" width="319" height="292" /><br />
		<img src="images/bg_redes__int.png" width="320" height="28" />
	</div>
</div>